h1{
    margin-top: 20px;
}

body{
    background-color: rgb(41, 64, 131);
}

.info{
    height: 40px;
    margin-top: 100px;
}

.fila{
    margin-top: 30px;
}

.foo{
    margin-top: 245px;
    height: 60px;
}
